*{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: rgb(27, 29, 29);
}

body h1{
    text-align: center;
    color:#fff;
}

.search{
    --padding: 24px;
    width: max-content;
    display: flex;
    align-items: center;
    padding: var(--padding);
    border-radius: 28px;
    background: transparent;
    width: 600px;
}

.search-input{
  font-size: 16px;
  font-family:Arial, Helvetica, sans-serif;
  color: #fff;
  margin-left: var(--padding);
  outline: none;
  border: none;
  background: darkslategray;
  flex: 1;
}

.search:focus-within{
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.75);
}

.search-input::placeholder,
search.icon{
  color: rgba(255, 255, 255, 0.5)
}

.pokemon-container{
    border: 1px solid transparent;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.pokemon-id{
    color:#fff;  
}

.pokemon-name{
    color:#2c58f5;
    font-size:20px;
}

.card{
    /* background-color: #fff; */
    border: 1px solid #fff;
    border-radius: 10px;
    width: 150px;
    height: 220px;
    box-shadow: 0px 1px 5px #000;
}

.card img{
    width: 100%;
    height: 145px;
    padding: 15px;
}

.card:hover{
    box-shadow: 0px 1px 15px #000;
    transition: 0.3s;
}

.card ul{
    padding: 0px;
    margin: 0px;
    text-align: center;
}

.pokemon-id{
    font-size: 10px;
}

.poison{
    color: darkviolet; 
    font-weight: bolder;
}

.card:hover:has(.poison){
    filter:drop-shadow(0 1px 15px darkviolet);
}

.grass{
    color: lightgreen;
    font-weight: bolder;
}

.card:hover:has(.grass){
    filter:drop-shadow(0 1px 15px lightgreen);
}

.psychic{
    color:purple;
    font-weight: bolder;
}

.card:hover:has(.psychic){
    filter:drop-shadow(0 1px 15px purple);
}

.fire{
    color:red;
    font-weight:bolder;
}

.card:hover:has(.fire){
    filter:drop-shadow(0 1px 15px red);
}

.water{
    color:blue;
    font-weight: bolder;
}

.card:hover:has(.water){
    filter:drop-shadow(0 1px 15px blue);
}

.ice{
    color:lightblue;
    font-weight: bolder;
}

.card:hover:has(.ice){
    filter:drop-shadow(0 1px 15px lightblue);
}

.electric{
    color:yellow;
    font-weight: bolder;
}

.card:hover:has(.electric){
    filter:drop-shadow(0 1px 15px yellow);
}

.fighting{
    color: brown;
    font-weight: bolder;
}

.card:hover:has(.fighting){
    filter:drop-shadow(0 1px 15px brown);
}

.steel{
    color:slategrey;
    font-weight: bolder;
}

.card:hover:has(.steel){
    filter:drop-shadow(0 1px 15px slategrey);
}

.rock{
    color: #ba8b09;
    font-weight: bolder;
}

.card:hover:has(.electric){
    filter:drop-shadow(0 1px 15px yellow);
}

.fairy{
    color: pink;
    font-weight: bolder;
}

.card:hover:has(.fairy){
    filter: drop-shadow(0 1px 15px pink);
}

.normal{
    color:peachpuff;
    font-weight: bolder;
}

.card:hover:has(.normal){
    filter:drop-shadow(0 1px 15px peachpuff);
}

.flying{
    color:violet;
    font-weight: bolder;
}

.card:hover:has(.flying){
    filter:drop-shadow(0 1px 15px violet);
}

.bug{
    color:green;
    font-weight: bolder;
}

.card:hover:has(.bug){
    filter:drop-shadow(0 1px 15px green);
}

.ground{
    color: #fcba03;
    font-weight: bolder;
}

.card:hover:has(.ground){
    filter:drop-shadow(0 1px 15px #fcba03);
}

.dark{
    color: #535353;
    font-weight: bolder;
}

.card:hover:has(.dark){
    filter:drop-shadow(0 1px 15px #535353);
}

.ghost{
    color: #fff;
    font-weight: bolder;
}

.card:hover:has(.ghost){
    filter:drop-shadow(0 1px 15px #fff);
}

.dragon{
    color: orangered;
    font-weight: bolder;
}

.card:hover:has(.dragon){
    filter:drop-shadow(0 1px 15px orangered);
}

/* Pokemon details */
.pokemon-page {
    width: 800px;
    margin: 50px auto;
    background-color: aliceblue;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0px 1px 5px #00000065;
  }
  
  .pokemon-page h1 {
    color: 000;
  }
  .pokemon-page p {
    text-align: center;
    margin: 10px auto;
    font-size: 12px;
  }
  
  .pokemon-page-image {
    width: 380px;
    text-align: center;
  }
  
  .pokemon-page-image img {
    width: 240px;
    margin: 5px auto;
  }
  
  .pokemon-main-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .pokemon-page-details {
    padding: 10px 25px;
  }
  
  .pokemon-page-abilities span {
    font-weight: 500;
    font-size: 10px;
    margin: auto 2px;
    padding: 2px 5px;
    border-radius: 5px;
    box-shadow: 0 1px 3px -1px #000000d7;
    color: white !important;
  }
  
  .pokemon-page-stats {
    padding: 10px 25px;
  }
  
  .pokemon-page-stats table{
    margin: 10px auto;
    width: 100%;
  }
  
  .pokemon-page-stats table .bar div {
    width: 0px;
    height: 13px;
    background-color: #0dc80d;
  }
  .pokemon-main-content table{
    border-collapse: collapse;
  }
  .pokemon-main-content table tr td {
    border-bottom: 1px solid #0000002d;
    padding: 2px 0px;
  }
  
  .pokemon-page-evolution {
    display: flex;
    flex-wrap: wrap;
  }
  
  .pokemon-main-content table tr td:nth-child(1){
    color: rgb(90, 90, 90);
  }
  
  .pokemon-main-content table tr td:nth-child(2){
    padding-left: 15px;
    font-weight: 500;
  }
  
  .pokemon-page-details:has(.electric) .pokemon-page-abilities span {
    background-color: #c90;
  }
  
  .pokemon-page-details:has(.psychic) .pokemon-page-abilities span {
    background-color: #ff227a;
  }
  
  .pokemon-page-details:has(.grass) .pokemon-page-abilities span {
    background-color: green;
  }
  
  .pokemon-page-details:has(.poison) .pokemon-page-abilities span {
    background-color: purple;
  }
  
  .pokemon-page-details:has(.fire) .pokemon-page-abilities span {
    background-color: rgba(255, 68, 0, 0.81);
  }
  
  .pokemon-page-details:has(.water) .pokemon-page-abilities span {
    background-color: blue;
  }
  
  .pokemon-page-details:has(.flying) .pokemon-page-abilities span {
    background-color: darkblue;
  }
  
  .pokemon-page-details:has(.bug) .pokemon-page-abilities span {
    background-color: darkgreen;
  }
  
  .pokemon-page-details:has(.normal) .pokemon-page-abilities span {
    background-color: grey;
  }
  
  .pokemon-page-details:has(.ground) .pokemon-page-abilities span {
    background-color: #bf9926;
  }
  
  .pokemon-page-details:has(.fairy) .pokemon-page-abilities span {
    background-color: #e76de7;
  }
  
  .pokemon-page-details:has(.fighting) .pokemon-page-abilities span {
    background-color: darkred;
  }
  
  .pokemon-page-details:has(.rock) .pokemon-page-abilities span {
    background-color: #a59249;
  }
  
  .pokemon-page-details:has(.steel) .pokemon-page-abilities span {
    background-color: #8e8ea4;
  }
  
  .pokemon-page-details:has(.dark) .pokemon-page-abilities span {
    background-color: #573e31;
  }
  
  .pokemon-page-details:has(.ice) .pokemon-page-abilities span {
    background-color: #0af;
  }
  
  .pokemon-page-details:has(.ghost) .pokemon-page-abilities span {
    background-color: #5454b3;
  }
  
  .pokemon-page-details:has(.dragon) .pokemon-page-abilities span {
    background-color: #4e38e9;
  }
  